// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import "~@fancyapps/ui/src/Fancybox/Fancybox";

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
//@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
//@import "node_modules/@fortawesome/fontawesome-free/scss/regular";

[v-cloak] {
  display: none;
}
#flash-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1050;

  .alert {
    margin-bottom: 5px;

    &.alert-danger,
    &.alert-warning{
      border: 1px dotted red;
    }
  }
}

.form-control[type="file"] {
  /* display file fix */
  padding-top: 0.175rem;
}
